/* Your custom styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);

body {
	margin: 0;
	/* background-image: url("/dokuos2/web/img/background-2.jpg"); */
    background-color: Gainsboro;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.showcase {
   /* background-image: url("/dokuos2/web/img/background-2.jpg"); */
   background-image: url("../img/background.jpg"); 
}

header, footer {
	padding: 10px;
	margin: 5px;
}

main {
	padding: 5px;
	padding-top: 0px;
	margin: 5px;
	margin-top: 0px;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	align-items: stretch;
	align-content: stretch;
	justify-content: space-around;
}

.option {
	margin: 10px;
	flex-basis: 0px;
	flex-grow: 1;
}		

.texto-vertical {
	padding: 5px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-align: left;
	font-size: 7vh;
    -webkit-writing-mode: vertical-lr;
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 0.5;
}

.img-full {
	height: 100%;
    width: 100%;
}

#logo {
  height: 8vh;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.img-container {
	width: 100%;
	height: 100vh;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.img-item {
	-webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.img-item-fixed {
  display:block;
  position:fixed;
  top:0px;
  left:0px;
}

.flotante {
    display:block;
    position:fixed;
}

#return {
    bottom:10vh;
    right:25vh; 
}

#refresh {
    bottom:10vh;
    right:10vh; 
}

.volver, .refresh {
  color: black;
  font-size: 80px;
  height: 80px;
  width: 80px;
  opacity: 0.4;
}

#notice-box {
    height: 5vh;
    width: 35vw;
    left: 5vh;
    bottom: 5vh;
    background-color: black;
    opacity: 0.4;
    color: white;
}

.audio-hide{
display: none
}

.pulse-loader {
    height: 14vh;
    width: 14vh;
    position: fixed;
    top: 43vh;
    left: 43vw;
}
.pulse-loader:before, .pulse-loader:after {
    content: '';
    animation: 2s infinite pulse;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 4px solid #fff;
    display: block;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
}
.pulse-loader:after {
    animation-delay: 1s;
}
@keyframes pulse {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}