{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Nuevo vídeo</h1>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
        <hr>
        <div class="form-group">
			<label class="col-md-4 control-label">Vídeo</label>
			<div class="col-md-5">
			  {{ form_widget(form.video, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
        <hr>
        <div class="form-group">
			<div class="col-md-offset-5 col-md-1">
			  <button type="submit" class="btn btn-primary">Crear</button>
			</div>
			<div class="col-md-3">
			  <a class="btn btn-default" href="{{ path('show_video_index') }}" role="button">Volver</a>
			</div>
		</div>
    {{ form_end(form) }}

{% endblock %}